@media all and (min-width: 1440px) {

    .section2 {
        width: 100vw;
        height: 100vh;
        background: black;
        position: relative;

    }

    #aboutLabel {
        position: absolute;
        top: 50px;
        left: 60px;
        color: #daf519;
    }

    .aboutPic {
        position: absolute;
        top: 150px;
        left: 100px;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        filter: drop-shadow(0 0 10px rgb(16, 219, 225));
        overflow: hidden;
        opacity: 70%;
        animation: scaleUp 1s ease forwards;
    }
    @keyframes scaleUp {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }

    #aboutText {
        position: absolute;
        top: 70px;
        left: 800px;
        font-size: 20px;
        color: #b6cbe0;
    }

    #aboutText > h2 {
        color: #61cc37;
        top: 0;
        font-size: 40px;
        position: relative;
        right: 100px;
    }

    #aboutText > h3 {
        position: absolute;
        top: 80px;
    }

    #aboutText > p {
        font-size: 20px;
        top: 0;
    }

    #btnDownload {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 48px;
        border-radius: 40px;
        font-size: 16px;
        color: white;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        animation: pulse 1s infinite;
    }
    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }


    #btnDownload::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        z-index: -1;
        border-radius: 40px;
        filter: blur(10px);
        transition: .5s ease;
    }

    #btnDownload::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        z-index: -1;
        border-radius: 40px;
        transition: .5s ease;

    }

    #btnDownload:hover::after {
        background-position: 100% 0;
    }

    #btnDownload:hover::before {
        background-position: 100% 0;
    }
}
@media all and (max-width: 1440px) and (min-width: 1024px){
    .section2 {
        width: 100vw;
        height: 100vh;
        background: black;
        position: relative;

    }

    #aboutLabel {
        position: absolute;
        top: 50px;
        left: 60px;
        color: #daf519;
    }

    .aboutPic {
        position: absolute;
        top: 250px;
        left: 50px;
        width: 400px;
        height: 400px;
        border-radius: 100%;
        overflow: hidden;
        opacity: 70%;
        filter: drop-shadow(0 0 10px rgb(16, 219, 225));
        animation: scaleUp 1s ease forwards;
    }
    @keyframes scaleUp {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }

    #aboutText {
        position: absolute;
        top: 70px;
        left: 500px;
        font-size: 20px;
        color: #b6cbe0;
    }

    #aboutText > h2 {
        color: #61cc37;
        top: 0;
        font-size: 30px;
        position: relative;
        right: 100px;
    }

    #aboutText > h3 {
        position: absolute;
        top: 50px;
    }

    #aboutText > p {
        font-size: 18px;
        top: 0;
    }

    #btnDownload {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 48px;
        border-radius: 40px;
        font-size: 15px;
        color: white;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        animation: pulse 1s infinite;
    }
    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    #btnDownload::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        z-index: -1;
        border-radius: 40px;
        filter: blur(10px);
        transition: .5s ease;
    }

    #btnDownload::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        z-index: -1;
        border-radius: 40px;
        transition: .5s ease;

    }

    #btnDownload:hover::after {
        background-position: 100% 0;
    }

    #btnDownload:hover::before {
        background-position: 100% 0;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px) {

    .section2 {
        width: 100vw;
        height: 100vh;
        background: black;
        position: relative;

    }

    #aboutLabel {
        position: absolute;
        top: 0;
        left: 60px;
        color: #d0e015;
    }

    .aboutPic {
        position: absolute;
        top: 150px;
        left: 450px;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        overflow: hidden;
        opacity: 70%;
        filter: drop-shadow(0 0 10px rgb(16, 219, 225));
        animation: scaleUp 1s ease forwards;
    }
    @keyframes scaleUp {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
    #aboutText {
        position: absolute;
        top: 10px;
        left: 500px;
        font-size: 20px;
        color: #b6cbe0;
    }

    #aboutText > h2 {
        color: #61cc37;
        font-size: 20px;
    }

    #aboutText > h3 {
        position: absolute;
        top: 50px;
    }

    #aboutText > p {
        font-size: 14px;
        top: 10px;
        right: 500px;
        position: relative;
    }
    #aboutText>#p1{
        font-size: 14px;
        position: relative;
        left: -470px;
    }
    #aboutText>#p2{
        font-size: 14px;
        position: relative;
        left: -470px;
    }
    #aboutText>#p3{
        top: 40px;
        font-size: 14px;
        position: relative;
        left: -470px;
    }

    #btnDownload {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 48px;
        border-radius: 40px;
        font-size: 15px;
        color: white;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        left: -300px;
        top: 60px;
        animation: pulse 1s infinite;

    }
    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    #btnDownload::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        z-index: -1;
        border-radius: 40px;
        filter: blur(10px);
        transition: .5s ease;
    }

    #btnDownload::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        z-index: -1;
        border-radius: 40px;
        transition: .5s ease;

    }

    #btnDownload:hover::after {
        background-position: 100% 0;
    }

    #btnDownload:hover::before {
        background-position: 100% 0;
    }
}
@media all and (min-width: 425px) and (max-width: 768px) {
    .section2 {
        width: 100vw;
        height: 100vh;
        background: black;
        position: relative;

    }

    #aboutLabel {
        position: absolute;
        top: 0;
        left: 60px;
        color: #d0e015;
        font-size: 16px;
    }

    .aboutPic {
        position: absolute;
        top: 50px;
        left: 100px;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        overflow: hidden;
        opacity: 70%;
        filter: drop-shadow(0 0 10px rgb(16, 219, 225));
        animation: scaleUp 1s ease forwards;
    }
    @keyframes scaleUp {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
    #aboutText {
        position: absolute;
        top: 350px;
        left:500px;
        font-size: 20px;
        color: #b6cbe0;
    }

    #aboutText > h2 {
        color: #61cc37;
        font-size: 16px;
        right: 300px;
        position: absolute;
        visibility: hidden;
    }

    #aboutText > h3 {
        position: absolute;
        top: 50px;
        right: 350px;
        visibility: hidden;
    }

    #aboutText > p {
        font-size: 14px;
        top: 10px;
        right: 500px;
        position: relative;
        width: 400px;
    }
    #aboutText>#p1{
        font-size: 14px;
        position: relative;
        left: -470px;
    }
    #aboutText>#p2{
        font-size: 14px;
        position: relative;
        left: -470px;
        top: 2px;
    }
    #aboutText>#p3{
        top: 5px;
        font-size: 14px;
        position: relative;
        left: -470px;
        visibility: hidden;
    }

    #btnDownload {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 48px;
        border-radius: 40px;
        font-size: 15px;
        color: white;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        left: -300px;
        top: -100px;
        animation: pulse 1s infinite;
    }
    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    #btnDownload::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        z-index: -1;
        border-radius: 40px;
        filter: blur(10px);
        transition: .5s ease;
    }

    #btnDownload::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        z-index: -1;
        border-radius: 40px;
        transition: .5s ease;

    }

    #btnDownload:hover::after {
        background-position: 100% 0;
    }

    #btnDownload:hover::before {
        background-position: 100% 0;
    }
}