body{
    background: black;
    overflow-x:hidden ;
    cursor: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"%3E%3Ccircle cx="16" cy="16" r="12" fill="Deeppink" stroke="white" stroke-width="2" /%3E%3C/svg%3E'), auto;
    scroll-behavior: smooth;
}
* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 30%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
    animation: anim 1s ease forwards;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    animation-delay: calc(5s * var(--i));
    animation: anim 5s ease forwards;

}

.hamburger {
    display: none;
}

.active, .navbar a:hover {
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
.section1{
    position: relative;
    top: 40px;

}
.section1>div{
    padding-top: 10px;

}
.section1>div:nth-child(1){
    padding-top: 50px;
    text-align: start;
}
.section1>div:nth-child(1)>h1{
    margin-left: 300px;
    font-size: 50px;
    color: #34ACE0;
    font-family: 'Roboto Slab', serif;
    animation: slideInFromLeft 1s ease-in-out;
    filter: drop-shadow(0 0 10px rgb(11, 149, 248));
}
.section1>div:nth-child(1)>h1:nth-child(2){
    margin-left: 360px;
    font-size: 50px;
    color: #34ACE0;
    font-family: 'Roboto Slab', serif;
    animation: slideInFromLeft 1s ease-in-out;
    filter: drop-shadow(0 0 10px rgb(11, 149, 248));
}
.section1>div:nth-child(1)>h2{
    margin-left: 125px;
    font-size: 60px;
    color: #12CBC4;
    font-family: 'Roboto Slab', "Rage Italic", "Times New Roman", serif;
    animation: slideInFromLeft 1s ease-in-out;
}
.section1>div:nth-child(1)>h4{
    margin-left: 230px;
    font-size: 30px;
    color: #34ACE0;
    animation: slideInFromLeft 1s ease-in-out;
}
@keyframes slideInFromLeft {
    0% { opacity: 0; transform: translateX(-100px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes slideInFromRight {
    0% { opacity: 0; transform: translateX(100px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.section1>div:nth-child(1)>button{
    background-color: #34ACE0;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    width: 150px;
    cursor: pointer;
    margin-left: 350px;
}
#btnMore {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    border-radius: 40px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;

}

#btnMore::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
    background-position: 0 0;
    background-size: 200%;
    z-index: -1;
    border-radius: 40px;
    filter: blur(10px);
    transition: .5s ease;
}

#btnMore::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
    background-position: 0 0;
    background-size: 200%;
    z-index: -1;
    border-radius: 40px;
    transition: .5s ease;

}

#btnMore:hover::after {
    background-position: 100% 0;
}

#btnMore:hover::before {
    background-position: 100% 0;
}
.section1>div:nth-child(2){
    margin-left: 200px;
    word-spacing: 80px;
}
#myPic {
    left: -100px;
    top: -780px;
    float: right;
    position: relative;
    opacity: 70%;
    filter:drop-shadow(0 0 10px rgb(0, 0, 255));
    animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.7; }
}
@media all and (max-width: 768px) {

    .hamburger{
        display: none;
        font-size: 50px;
    }

    .header>div:nth-child(1){
        display: none;

    }

    .hamburger > i {
        transition: transform 0.3s ease;
    }

    .hamburger > i:hover {
        transform: rotate(90deg);
    }


    .navbar {
        display: none;
        position: absolute;
        top: 65px;
        right: 0;
        align-self: baseline;
        flex-direction: column;
        justify-content: space-around;
        align-items: end;
        height: 301px;
        width: 150px;
        padding: 20px;
    }

    .view{
        display: flex;
    }

    .show{
        display: block !important;
    }
    .section1>div:nth-child(1)>h1 {
        top: 20px;
        margin-left: 50px;
        font-size: 30px;
        animation: fadeIn 1s ease-in-out;
    }

    .section1>div:nth-child(1)>h1:nth-child(2) {
        margin-left: 60px;
        font-size: 30px;
        animation: fadeIn 1s ease-in-out;
    }

    .section1>div:nth-child(1)>h2 {
        margin-left: 30px;
        font-size: 40px;
        animation: fadeIn 1s ease-in-out;
    }

    .section1>div:nth-child(1)>h4 {
        margin-left: 50px;
        font-size: 20px;
        animation: fadeIn 1s ease-in-out;
    }

    .section1>div:nth-child(1)>button {
        font-size: 16px;
        padding: 8px;
        width: 120px;
        margin-left: 200px;
    }

    .section1>div:nth-child(2) {
        margin-left: 50px;
        word-spacing: 40px;
    }

    #myPic {
        left: -150px;
        top: -550px;
        opacity: 40%;
        animation: fadeIn 1s ease forwards;
    }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.7; }
}


.content .btn:active {
    box-shadow: none;
}
@keyframes slideInFromLeft {
    0% { opacity: 0; transform: translateX(-100px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes slideInFromRight {
    0% { opacity: 0; transform: translateX(100px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@media all and (max-width: 768px) and (min-width: 425px){
    .hamburger{
        display: none;
        font-size: 50px;
    }

    .header>div:nth-child(1){
        display: none;

    }

    .hamburger > i {
        transition: transform 0.3s ease;
    }

    .hamburger > i:hover {
        transform: rotate(90deg);
    }


    .navbar {
        display: none;
        position: absolute;
        top: 65px;
        right: 0;
        align-self: baseline;
        flex-direction: column;
        justify-content: space-around;
        align-items: end;
        height: 301px;
        width: 150px;
        padding: 20px;
    }

    .view{
        display: flex;
    }

    .show{
        display: block !important;
    }
    .section1>div:nth-child(1)>h1 {
        top: 20px;
        margin-left: 50px;
        font-size: 30px;
        animation: fadeIn 1s ease-in-out;
    }

    .section1>div:nth-child(1)>h1:nth-child(2) {
        margin-left: 60px;
        font-size: 30px;
        animation: fadeIn 1s ease-in-out;
    }

    .section1>div:nth-child(1)>h2 {
        margin-left: 30px;
        font-size: 40px;
        animation: fadeIn 1s ease-in-out;
    }

    .section1>div:nth-child(1)>h4 {
        margin-left: 50px;
        font-size: 20px;
        animation: fadeIn 1s ease-in-out;
    }

    .section1>div:nth-child(1)>button {
        font-size: 16px;
        padding: 8px;
        width: 120px;
        margin-left: 200px;
    }

    .section1>div:nth-child(2) {
        margin-left: 10px;
    }

    #myPic {
        left: -120px;
        top: -550px;
        opacity: 40% !important;
        animation: fadeIn 1s ease forwards;
    }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.7; }
}


.content .btn:active {
    box-shadow: none;
}
@keyframes slideInFromLeft {
    0% { opacity: 0; transform: translateX(-100px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes slideInFromRight {
    0% { opacity: 0; transform: translateX(100px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@media all and (max-width: 425px) and (min-width: 375px){
    .hamburger{
        display: none;
        font-size: 50px;
    }

    .header>div:nth-child(1){
        display: none;

    }

    .hamburger > i {
        transition: transform 0.3s ease;
    }

    .hamburger > i:hover {
        transform: rotate(90deg);
    }


    .navbar {
        display: none;
        position: absolute;
        top: 65px;
        right: 0;
        align-self: baseline;
        flex-direction: column;
        justify-content: space-around;
        align-items: end;
        height: 301px;
        width: 150px;
        padding: 20px;
    }

    .view{
        display: flex;
    }

    .show{
        display: block !important;
    }
    .section1>div:nth-child(1)>h1 {
        margin-left: 50px;
        font-size: 30px;
        animation: fadeIn 1s ease-in-out;
        position: absolute;
        top: 200px;
    }

    .section1>div:nth-child(1)>h1:nth-child(2) {
        margin-left: 60px;
        font-size: 30px;
        animation: fadeIn 1s ease-in-out;
        position: absolute;
        top: 250px;
    }

    .section1>div:nth-child(1)>h2 {
        margin-left: 30px;
        font-size: 40px;
        animation: fadeIn 1s ease-in-out;
        position: absolute;
        top: 300px;
    }

    .section1>div:nth-child(1)>h4 {
        margin-left: 50px;
        font-size: 20px;
        animation: fadeIn 1s ease-in-out;
        position: absolute;
        top: 420px;
    }

    .section1>div:nth-child(1)>button {
        font-size: 16px;
        padding: 8px;
        width: 120px;
        margin-left: 200px;
    }

    .section1>div:nth-child(2) {
        position: absolute;
        margin-left: 30px;
        top: 500px;
    }

    #myPic {
        left: -100px;
        top: -250px;
        opacity: 40% !important;
        animation: fadeIn 1s ease forwards;
    }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.7; }
}


.content .btn:active {
    box-shadow: none;
}
@keyframes slideInFromLeft {
    0% { opacity: 0; transform: translateX(-100px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes slideInFromRight {
    0% { opacity: 0; transform: translateX(100px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }

}
