@media all and (min-width: 1440px) {
    .max-width {
        max-width: 1300px;
        padding: 0 80px;
        margin: auto;
    } {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
    .section2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 100vh;
        position: absolute;
        padding: 100px 0;
    }

    #aboutLabel {
        position: absolute;
        top: 150px;
        left: 60px;
        color: #daf519;
    }

    .aboutPic {
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 100%;
        filter: drop-shadow(0 0 10px rgb(16, 219, 225));
        overflow: hidden;
        top: 250px;
        margin-left: 50px;
        opacity: 70%!important;
        animation: scaleUp 1s ease forwards
    }

    @keyframes scaleUp {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }

    #aboutText {
        width: 45%;
        color: white;
        padding: 0 20px;
    }

    #aboutText > h2 {
        color: #61cc37;
        font-size: 40px;
        position: relative;
        left: 300px;
        top: 50px;
    }

    #aboutText > h3,
    #aboutText > p {
        margin-top: 20px;
        position: relative;
        left: 300px;
        font-size: 20px;
    }

    #btnDownload {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 48px;
        border-radius: 40px;
        font-size: 16px;
        color: white;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        position: relative;
        overflow: hidden; /* Added to contain pseudo-elements */
        z-index: 1;
        animation: pulse 1s infinite;
        margin-top: 20px;
        left: 500px;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    #btnDownload::before,
    #btnDownload::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        border-radius: 40px;
        transition: background-position 0.5s ease;
        z-index: -1; /* Ensure pseudo-elements are behind the text */
    }

    #btnDownload:hover::before,
    #btnDownload:hover::after {
        background-position: 100% 0;
    }
}


@media all and (min-width: 1025px ) and (max-width: 1440px){
    .section2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 100vh;
        position: absolute;
        padding: 100px 0;
    }

    #aboutLabel {
        position: absolute;
        top: 150px;
        left: 60px;
        color: #d0e015;
    }

    .aboutPic {
        position: absolute;
        width: 400px;
        height: 420px;
        border-radius: 100%;
        filter: drop-shadow(0 0 10px rgb(16, 219, 225));
        overflow: hidden;
        top: 250px;
        margin-left: 50px;
        opacity: 70%!important;
        animation: scaleUp 1s ease forwards
    }

    @keyframes scaleUp {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }

    #aboutText {
        width: 45%;
        color: white;
    }

    #aboutText > h2 {
        color: #61cc37;
        font-size: 40px;
        position: relative;
        left: 300px;
        top: 50px;
    }

    #aboutText > h3,
    #aboutText > p {
        margin-top: 20px;
        position: relative;
        left: 300px;
        font-size: 20px;
    }

    #btnDownload {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 48px;
        border-radius: 40px;
        font-size: 16px;
        color: white;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        position: relative;
        overflow: hidden; /* Added to contain pseudo-elements */
        z-index: 1;
        animation: pulse 1s infinite;
        margin-top: 20px;
        left: 500px;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    #btnDownload::before,
    #btnDownload::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        border-radius: 40px;
        transition: background-position 0.5s ease;
        z-index: -1; /* Ensure pseudo-elements are behind the text */
    }

    #btnDownload:hover::before,
    #btnDownload:hover::after {
        background-position: 100% 0;
    }
}
@media all and (min-width: 835px ) and (max-width: 1024px){

    .section2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 100vh;
        position: absolute;
        padding: 100px 0;
    }

    #aboutLabel {
        position: absolute;
        top: 150px;
        left: 60px;
        color: #d0e015;
    }

    .aboutPic {
        position: absolute;
        width: 350px;
        height: 350px;
        border-radius: 100%;
        filter: drop-shadow(0 0 10px rgb(16, 219, 225));
        overflow: hidden;
        top: 350px;
        margin-left: 50px;
        opacity: 70%!important;
        animation: scaleUp 1s ease forwards
    }

    @keyframes scaleUp {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }

    #aboutText {
        width: 45%;
        color: white;
        position: relative;
        top: -200px;
    }

    #aboutText > h2 {
        color: #61cc37;
        font-size: 40px;
        position: relative;
        left: 300px;
        top: 50px;
        visibility: hidden;
    }

    #aboutText > h3,
    #aboutText > #p1 {
        margin-top: 10px;
        position: relative;
        left: 200px;
        font-size: 16px;
    }
    #aboutText > #p2 {
        margin-top: 20px;
        position: relative;
        left: 200px;
        font-size: 16px;
    }
    #aboutText > #p3 {
        margin-top: 20px;
        position: relative;
        left: 200px;
        font-size: 16px;
    }
    #btnDownload {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 40px;
        border-radius: 40px;
        font-size: 14px;
        color: white;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        position: relative;
        overflow: hidden; /* Added to contain pseudo-elements */
        z-index: 1;
        animation: pulse 1s infinite;
        margin-top: 20px;
        left: 200px;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    #btnDownload::before,
    #btnDownload::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        border-radius: 40px;
        transition: background-position 0.5s ease;
        z-index: -1; /* Ensure pseudo-elements are behind the text */
    }

    #btnDownload:hover::before,
    #btnDownload:hover::after {
        background-position: 100% 0;
    }
}
@media all and (min-width: 769px ) and (max-width: 834px){
    .section2 {
        display: flex;
        flex-direction: column; /* Change to column direction */
        align-items: center;
        justify-content: center; /* Center vertically */
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    #aboutLabel {
        position: absolute;
        top: -500px;
        right: 600px;
        color: #d0e015;
    }

    .aboutPic {
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        filter: drop-shadow(0 0 10px rgb(16, 219, 225));
        overflow: hidden;
        top: -350px;
        margin-left: -150px;
        opacity: 70%!important;
        animation: scaleUp 1s ease forwards
    }

    @keyframes scaleUp {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }

    #aboutText {
        width: 45%;
        color: white;
        text-align: center;
        position: relative;
        font-size: 20px;
    }

    #aboutText > h2 {
        color: #61cc37;
        margin-top: 20px; /* Adjust as needed */
        font-size: 20px;
    }

    #aboutText > h3 {
        margin-top: 20px; /* Adjust as needed */
        font-size: 20px;
        color: white;
    }

    .about-text-item {
        margin-top: 20px; /* Adjust as needed */
        font-size: 16px;
        color: white;
    }
    #btnDownload {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 40px;
        border-radius: 40px;
        font-size: 14px;
        color: white;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        position: relative;
        overflow: hidden; /* Added to contain pseudo-elements */
        z-index: 1;
        animation: pulse 1s infinite;
        margin-top: 20px;
        left: 0;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    #btnDownload::before,
    #btnDownload::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        border-radius: 40px;
        transition: background-position 0.5s ease;
        z-index: -1; /* Ensure pseudo-elements are behind the text */
    }

    #btnDownload:hover::before,
    #btnDownload:hover::after {
        background-position: 100% 0;
    }

}
/*@media all and (max-width: 320px ){}*/

@media all and (min-width: 461px ) and (max-width: 768px){
    .section2 {
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    #aboutLabel {
        position: absolute;
        top: 0;
        left: 60px;
        color: #d0e015;
        font-size: 16px;
    }

    .aboutPic {
        position: absolute;
        top: 50px;
        left: 40px;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        overflow: hidden;
        opacity: 70%;
        filter: drop-shadow(0 0 10px rgb(16, 219, 225));
        animation: scaleUp 1s ease forwards;
        margin-left: 70px;
    }
    @keyframes scaleUp {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
    #aboutText {
        position:absolute;
        top: 350px;
        left:500px;
        font-size: 20px;
        color: #b6cbe0;
        margin-left:50px;
    }

    #aboutText > h2 {
        color: #61cc37;
        font-size: 16px;
        right: 300px;
        position: absolute;
        visibility: hidden;
    }

    #aboutText > h3 {
        position: absolute;
        top: 50px;
        right: 350px;
        visibility: hidden;
    }

    #aboutText > p {
        font-size: 14px;
        top: 10px;
        right: 500px;
        position: relative;
        width: 400px;
    }
    #aboutText>#p1{
        font-size: 14px;
        position: relative;
        left: -470px;
    }
    #aboutText>#p2{
        font-size: 14px;
        position: relative;
        left: -470px;
        top: 2px;
    }
    #aboutText>#p3{
        top: 5px;
        font-size: 14px;
        position: relative;
        left: -470px;
        visibility: hidden;
    }

    #btnDownload {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 48px;
        border-radius: 40px;
        font-size: 15px;
        color: white;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        left: -300px;
        top: -100px;
        animation: pulse 1s infinite;
    }
    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    #btnDownload::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        z-index: -1;
        border-radius: 40px;
        filter: blur(10px);
        transition: .5s ease;
    }

    #btnDownload::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        z-index: -1;
        border-radius: 40px;
        transition: .5s ease;

    }

    #btnDownload:hover::after {
        background-position: 100% 0;
    }

    #btnDownload:hover::before {
        background-position: 100% 0;
    }
}
@media all and (min-width: 321px ) and (max-width: 460px){
    .section2 {
        width: 100vw;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    #aboutLabel {
        position: absolute;
        top: 0;
        left: 60px;
        color: #d0e015;
        font-size: 30px;
    }

    .aboutPic {
        position: absolute;
        top: 70px;
        left: 50px;
        width: 320px;
        height: 350px;
        border-radius: 100%;
        overflow: hidden;
        opacity: 70%;
        filter: drop-shadow(0 0 10px rgb(16, 219, 225));
        animation: scaleUp 1s ease forwards;
    }
    @keyframes scaleUp {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
    #aboutText {
        position:absolute;
        top: 450px;
        left:550px;
        font-size: 12px;
        color: #ffffff;
        margin: 20px;
    }

    #aboutText > h2 {
        color: #61cc37;
        font-size: 16px;
        right: 300px;
        position: absolute;
        visibility: hidden;
    }

    #aboutText > h3 {
        position: absolute;
        top: 50px;
        right: 350px;
        visibility: hidden;
    }

    #aboutText > p {
        font-size: 12px;
        right: 800px;
        position: absolute;
        width: 300px;
    }
    #aboutText>#p1{
        font-size: 12px;
        position: relative;
        left: -490px;
    }
    #aboutText>#p2{
        font-size: 12px;
        position: relative;
        left: -490px;
    }
    #aboutText>#p3{
        font-size: 12px;
        position: relative;
        left: -490px;
    }

    #btnDownload {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 40px;
        border-radius: 40px;
        font-size: 10px;
        color: white;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        left: -400px;
        top: 7px;
        animation: pulse 1s infinite;
    }
    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    #btnDownload::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        z-index: -1;
        border-radius: 40px;
        filter: blur(10px);
        transition: .5s ease;
    }

    #btnDownload::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        z-index: -1;
        border-radius: 40px;
        transition: .5s ease;

    }

    #btnDownload:hover::after {
        background-position: 100% 0;
    }

    #btnDownload:hover::before {
        background-position: 100% 0;
    }
}

@media all and (max-width: 425px) and (min-width: 320px){
    .section2 {
        width: 100vw;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    #aboutLabel {
        position: absolute;
        top: 0;
        left: 60px;
        color: #d0e015;
        font-size: 30px;
    }

    .aboutPic {
        position: absolute;
        top: 70px;
        left: 50px;
        width: 250px;
        height: 250px;
        border-radius: 100%;
        overflow: hidden;
        opacity: 70%;
        filter: drop-shadow(0 0 10px rgb(16, 219, 225));
        animation: scaleUp 1s ease forwards;
    }
    @keyframes scaleUp {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
    #aboutText {
        position:absolute;
        top: 350px;
        left:520px;
        font-size: 12px;
        color: #ffffff;
        margin: 20px;
    }

    #aboutText > h2 {
        color: #61cc37;
        font-size: 16px;
        right: 300px;
        position: absolute;
        visibility: hidden;
    }

    #aboutText > h3 {
        position: absolute;
        top: 50px;
        right: 350px;
        visibility: hidden;
    }

    #aboutText > p {
        font-size: 10px;
        right: 800px;
        position: absolute;
        width: 300px;
    }
    #aboutText>#p1{
        font-size: 12px;
        position: relative;
        left: -490px;
    }
    #aboutText>#p2{
        font-size: 12px;
        position: relative;
        left: -490px;
    }
    #aboutText>#p3{
        font-size: 12px;
        position: relative;
        left: -490px;
    }

    #btnDownload {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 40px;
        border-radius: 40px;
        font-size: 10px;
        color: white;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        left: -380px;
        top: 7px;
        animation: pulse 1s infinite;
    }
    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    #btnDownload::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        z-index: -1;
        border-radius: 40px;
        filter: blur(10px);
        transition: .5s ease;
    }

    #btnDownload::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        z-index: -1;
        border-radius: 40px;
        transition: .5s ease;

    }

    #btnDownload:hover::after {
        background-position: 100% 0;
    }

    #btnDownload:hover::before {
        background-position: 100% 0;
    }
}
@media all and (max-width: 320px ){
    .section2 {
        width: 100vw;
        height: 100vh;
        position: relative;
        overflow: hidden;
        margin: auto;
    }

    #aboutLabel {
        position: absolute;
        top: 0;
        left: 60px;
        color: #d0e015;
        font-size: 30px;
    }

    .aboutPic {
        position: absolute;
        top: 70px;
        left: 50px;
        width: 250px;
        height: 250px;
        border-radius: 100%;
        overflow: hidden;
        opacity: 70%;
        filter: drop-shadow(0 0 10px rgb(16, 219, 225));
        animation: scaleUp 1s ease forwards;
    }
    @keyframes scaleUp {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
    #aboutText {
        position:absolute;
        top: 350px;
        left:520px;
        font-size: 12px;
        color: #ffffff;
        margin: 20px;
    }

    #aboutText > h2 {
        color: #61cc37;
        font-size: 16px;
        right: 300px;
        position: absolute;
        visibility: hidden;
    }

    #aboutText > h3 {
        position: absolute;
        top: 50px;
        right: 350px;
        visibility: hidden;
    }

    #aboutText > p {
        font-size: 8px;
        right: 800px;
        position: absolute;
        width: 300px;
        margin: auto;
    }
    #aboutText>#p1{
        font-size: 12px;
        position: relative;
        left: -490px;
        margin: auto;
    }
    #aboutText>#p2{
        font-size: 12px;
        position: relative;
        left: -490px;
        margin: auto;
    }
    #aboutText>#p3{
        font-size: 12px;
        position: relative;
        left: -490px;
        margin: auto;
    }

    #btnDownload {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 40px;
        border-radius: 40px;
        font-size: 10px;
        color: white;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        left: -380px;
        top: 7px;
        animation: pulse 1s infinite;
    }
    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    #btnDownload::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        z-index: -1;
        border-radius: 40px;
        filter: blur(10px);
        transition: .5s ease;
    }

    #btnDownload::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        background: linear-gradient(45deg, #0033ff, #ff3399, #13e767);
        background-position: 0 0;
        background-size: 200%;
        z-index: -1;
        border-radius: 40px;
        transition: .5s ease;

    }

    #btnDownload:hover::after {
        background-position: 100% 0;
    }

    #btnDownload:hover::before {
        background-position: 100% 0;
    }
}
