
@media all and (min-width: 1440px) {
    .section3 {
        height: 100vh;
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    #projectLabel {
        color: #daf519;
        margin-top: 50px;
    }

    .project-container1 {
        width: 300px;
        height: 60vh;
        border: 10px solid white;
        padding: 20px;
        border-radius: 10%;
        transition-duration: 1s;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        font-size: 16px;
        color: white;
        position: relative;
        top: 180px;
        right: 150px;
    }

    .project-container1:hover {
        background: linear-gradient(45deg, #0d73e7, #84aaf5, #2133a8);
        width: 400px;
        font-size: 20px;
    }

    .project-container1 > h1 {
        color: #ffffff;
    }

    .project-container1 > p {
        text-align: center;
    }

    .project-container1 > img {
        width: 40px;
        height: 40px;
        background: white;
        border-radius: 100%;
        position: absolute;
        top: 320px;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .project-container1 > .btn1 {
        background: black;
        border: 2px solid green;
        color: green;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        text-align: center;
        align-self: center;
    }

    .project-container1 > .btn1:hover {
        background-color: #05832b;
        color: white;
    }


    .project-container2 {
        width: 300px;
        height: 60vh;
        border: 10px solid white;
        padding: 20px;
        border-radius: 10%;
        transition-duration: 1s;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        font-size: 16px;
        color: white;
        position: relative;
        top: 180px;
        right: 150px;
    }

    .project-container2:hover {
        background: linear-gradient(45deg, #0d73e7, #84aaf5, #2133a8);
        width: 400px;
        font-size: 20px;
    }

    .project-container2 > h1 {
        color: #ffffff;
    }

    .project-container2 > p {
        text-align: center;
    }

    .project-container2 > img {
        width: 40px;
        height: 40px;
        background: white;
        border-radius: 100%;
        position: absolute;
        top: 340px;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .project-container2 > .btn1 {
        background: black;
        border: 2px solid green;
        color: green;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        text-align: center;
        align-self: center;
    }

    .project-container2 > .btn1:hover {
        background-color: #05832b;
        color: white;
    }


    .project-container3 {
        width: 300px;
        height: 60vh;
        border: 10px solid white;
        padding: 20px;
        border-radius: 10%;
        transition-duration: 1s;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        font-size: 16px;
        color: white;
        position: relative;
        top: 180px;
        right: 150px;
    }

    .project-container3:hover {
        background: linear-gradient(45deg, #0d73e7, #84aaf5, #2133a8);
        width: 400px;
        font-size: 20px;
    }

    .project-container3 > h1 {
        color: #ffffff;
    }

    .project-container3 > p {
        text-align: center;
    }

    .project-container3 > img {
        width: 40px;
        height: 40px;
        background: white;
        border-radius: 100%;
        position: absolute;
        top: 320px;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .project-container3 > .btn1 {
        background: black;
        border: 2px solid green;
        color: green;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        text-align: center;
        align-self: center;
    }

    .project-container3 > .btn1:hover {
        background-color: #05832b;
        color: white;
    }
}

@media all and (min-width: 1024px) and (max-width: 1440px) {
    .section3 {
        height: 100vh;
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    #projectLabel {
        color: #daf519;
        margin-top: 50px;
    }

    .project-container1 {
        width: 300px;
        height: 60vh;
        border: 10px solid white;
        padding: 20px;
        border-radius: 10%;
        transition-duration: 1s;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        font-size: 16px;
        color: white;
        position: relative;
        top: 180px;
        right: 150px;
    }

    .project-container1:hover {
        background: linear-gradient(45deg, #0d73e7, #84aaf5, #2133a8);
        width: 400px;
        font-size: 20px;
    }

    .project-container1 > h1 {
        color: #ffffff;
    }

    .project-container1 > p {
        text-align: center;
    }

    .project-container1 > img {
        width: 40px;
        height: 40px;
        background: white;
        border-radius: 100%;
        position: absolute;
        top: 320px;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .project-container1 > .btn1 {
        background: black;
        border: 2px solid green;
        color: green;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        text-align: center;
        align-self: center;
    }

    .project-container1 > .btn1:hover {
        background-color: #05832b;
        color: white;
    }


    .project-container2 {
        width: 300px;
        height: 60vh;
        border: 10px solid white;
        padding: 20px;
        border-radius: 10%;
        transition-duration: 1s;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        font-size: 16px;
        color: white;
        position: relative;
        top: 180px;
        left: -100px;
    }

    .project-container2:hover {
        background: linear-gradient(45deg, #0d73e7, #84aaf5, #2133a8);
        width: 400px;
        font-size: 20px;
    }

    .project-container2 > h1 {
        color: #ffffff;
    }

    .project-container2 > p {
        text-align: center;
    }

    .project-container2 > img {
        width: 40px;
        height: 40px;
        background: white;
        border-radius: 100%;
        position: absolute;
        top: 320px;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .project-container2 > .btn1 {
        background: black;
        border: 2px solid green;
        color: green;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        text-align: center;
        align-self: center;
    }

    .project-container2 > .btn1:hover {
        background-color: #05832b;
        color: white;
    }


    .project-container3 {
        width: 300px;
        height: 60vh;
        border: 10px solid white;
        padding: 20px;
        border-radius: 10%;
        transition-duration: 1s;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        font-size: 16px;
        color: white;
        position: relative;
        top: 180px;
        right: 50px;
    }

    .project-container3:hover {
        background: linear-gradient(45deg, #0d73e7, #84aaf5, #2133a8);
        width: 400px;
        font-size: 20px;
    }

    .project-container3 > h1 {
        color: #ffffff;
    }

    .project-container3 > p {
        text-align: center;
    }

    .project-container3 > img {
        width: 40px;
        height: 40px;
        background: white;
        border-radius: 100%;
        position: absolute;
        top: 320px;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .project-container3 > .btn1 {
        background: black;
        border: 2px solid green;
        color: green;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        text-align: center;
        align-self: center;
    }

    .project-container3 > .btn1:hover {
        background-color: #05832b;
        color: white;
    }
}



@media all and (min-width: 834px ) and (max-width: 1024px){
    .section3 {
        height: 100vh;
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    #projectLabel {
        color: #daf519;
        margin-top: 50px;
    }

    .project-container1 {
        width: 300px;
        height: 60vh;
        border: 10px solid white;
        padding: 20px;
        border-radius: 10%;
        transition-duration: 1s;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        font-size: 16px;
        color: white;
        position: relative;
        top: 180px;
        right: 150px;
    }

    .project-container1:hover {
        background: linear-gradient(45deg, #0d73e7, #84aaf5, #2133a8);
        width: 300px;
        font-size: 20px;
    }

    .project-container1 > h1 {
        color: #ffffff;
    }

    .project-container1 > p {
        text-align: center;
    }

    .project-container1 > img {
        width: 40px;
        height: 40px;
        background: white;
        border-radius: 100%;
        position: absolute;
        top: 320px;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .project-container1 > .btn1 {
        background: black;
        border: 2px solid green;
        color: green;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        text-align: center;
        align-self: center;
    }

    .project-container1 > .btn1:hover {
        background-color: #05832b;
        color: white;
    }


    .project-container2 {
        width: 300px;
        height: 60vh;
        border: 10px solid white;
        padding: 20px;
        border-radius: 10%;
        transition-duration: 1s;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        font-size: 16px;
        color: white;
        position: relative;
        top: 180px;
        left: -140px;
    }

    .project-container2:hover {
        background: linear-gradient(45deg, #0d73e7, #84aaf5, #2133a8);
        width: 300px;
        font-size: 20px;
    }

    .project-container2 > h1 {
        color: #ffffff;
    }

    .project-container2 > p {
        text-align: center;
    }

    .project-container2 > img {
        width: 40px;
        height: 40px;
        background: white;
        border-radius: 100%;
        position: absolute;
        top: 320px;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .project-container2 > .btn1 {
        background: black;
        border: 2px solid green;
        color: green;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        text-align: center;
        align-self: center;
    }

    .project-container2 > .btn1:hover {
        background-color: #05832b;
        color: white;
    }


    .project-container3 {
        width: 300px;
        height: 60vh;
        border: 10px solid white;
        padding: 20px;
        border-radius: 10%;
        transition-duration: 1s;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        font-size: 16px;
        color: white;
        position: relative;
        top: 180px;
        left: -130px;
    }

    .project-container3:hover {
        background: linear-gradient(45deg, #0d73e7, #84aaf5, #2133a8);
        width: 300px;
        font-size: 20px;
    }

    .project-container3 > h1 {
        color: #ffffff;
    }

    .project-container3 > p {
        text-align: center;
    }

    .project-container3 > img {
        width: 40px;
        height: 40px;
        background: white;
        border-radius: 100%;
        position: absolute;
        top: 320px;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .project-container3 > .btn1 {
        background: black;
        border: 2px solid green;
        color: green;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        text-align: center;
        align-self: center;
    }

    .project-container3 > .btn1:hover {
        background-color: #05832b;
        color: white;
    }
}

@media all and (min-width: 768px) and (max-width: 834px) {
    .section3 {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    #projectLabel {
        color: #daf519;
        margin-top: 100px;
    }

    .project-container1{
        width: 45%;
        min-height: 300px;
        margin: 20px;
        padding: 20px;
        border: 10px solid white;
        border-radius: 10%;
        box-shadow: 0 0 10px rgb(27, 234, 226);
        color: white;
        position: relative;
        top: 130px;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
        left: -120px;
    }
    .project-container2{
        width: 45%;
        min-height: 300px;
        margin: 20px;
        padding: 20px;
        border: 10px solid white;
        border-radius: 10%;
        box-shadow: 0 0 10px rgb(27, 234, 226);
        color: white;
        position: relative;
        top: 130px;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
    }
    .project-container3 {
        width: 45%;
        min-height: 300px;
        margin: 20px;
        padding: 20px;
        border: 10px solid white;
        border-radius: 10%;
        box-shadow: 0 0 10px rgb(27, 234, 226);
        color: white;
        position: relative;
        top: 130px;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
    }

    .project-container1 > img,
    .project-container2 > img,
    .project-container3 > img {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        visibility: hidden;
    }

    .project-container1 > .btn1,
    .project-container2 > .btn1,
    .project-container3 > .btn1 {
        background: black;
        border: 2px solid green;
        color: green;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        text-align: center;
        align-self: center;
    }

    .project-container1 > .btn1:hover,
    .project-container2 > .btn1:hover,
    .project-container3 > .btn1:hover {
        background-color: #05832b;
        color: white;
    }
}


@media all and (min-width: 461px ) and (max-width: 768px){
    .section3 {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    #projectLabel {
        color: #daf519;
        margin-top: 100px;
    }

    .project-container1{
        width: 45%;
        min-height: 300px;
        margin: 20px;
        padding: 20px;
        border: 10px solid white;
        border-radius: 10%;
        box-shadow: 0 0 10px rgb(27, 234, 226);
        color: white;
        position: relative;
        top: 130px;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
    }
    .project-container2{
        width: 45%;
        min-height: 300px;
        margin: 20px;
        padding: 20px;
        border: 10px solid white;
        border-radius: 10%;
        box-shadow: 0 0 10px rgb(27, 234, 226);
        color: white;
        position: relative;
        top: 130px;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
    }
    .project-container3 {
        width: 45%;
        min-height: 300px;
        margin: 20px;
        padding: 20px;
        border: 10px solid white;
        border-radius: 10%;
        box-shadow: 0 0 10px rgb(27, 234, 226);
        color: white;
        position: relative;
        top: 130px;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
    }

    .project-container1 > img,
    .project-container2 > img,
    .project-container3 > img {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        visibility: hidden;
    }

    .project-container1 > .btn1,
    .project-container2 > .btn1,
    .project-container3 > .btn1 {
        background: black;
        border: 2px solid green;
        color: green;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        text-align: center;
        align-self: center;
        position: relative;
    }

    .project-container1 > .btn1:hover,
    .project-container2 > .btn1:hover,
    .project-container3 > .btn1:hover {
        background-color: #05832b;
        color: white;
    }
}

@media all and (min-width: 321px ) and (max-width: 460px){
    .section3 {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    #projectLabel {
        color: #daf519;
    }

    .project-container1{
        width: 45%;
        min-height: 300px;
        margin: 20px;
        padding: 20px;
        border: 10px solid white;
        border-radius: 10%;
        box-shadow: 0 0 10px rgb(27, 234, 226);
        color: white;
        position: relative;
        top: 130px;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
    }
    .project-container2{
        width: 45%;
        min-height: 300px;
        margin: 20px;
        padding: 20px;
        border: 10px solid white;
        border-radius: 10%;
        box-shadow: 0 0 10px rgb(27, 234, 226);
        color: white;
        position: relative;
        top: 130px;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
    }
    .project-container3 {
        width: 45%;
        min-height: 300px;
        margin: 20px;
        padding: 20px;
        border: 10px solid white;
        border-radius: 10%;
        box-shadow: 0 0 10px rgb(27, 234, 226);
        color: white;
        position: relative;
        top: 130px;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
    }

    .project-container1 > img,
    .project-container2 > img,
    .project-container3 > img {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        visibility: hidden;
    }

    .project-container1 > .btn1,
    .project-container2 > .btn1,
    .project-container3 > .btn1 {
        background: black;
        border: 2px solid green;
        color: green;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        text-align: center;
        align-self: center;
        position: relative;
        left: 50px;
    }

    .project-container1 > .btn1:hover,
    .project-container2 > .btn1:hover,
    .project-container3 > .btn1:hover {
        background-color: #05832b;
        color: white;
    }
}
@media all and (max-width: 320px ){
    .section3 {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    #projectLabel {
        color: #daf519;
        margin-top: 200px;
    }

    .project-container1{
        width: 70%;
        min-height: 300px;
        margin: 20px;
        padding: 20px;
        border: 10px solid white;
        border-radius: 10%;
        box-shadow: 0 0 10px rgb(27, 234, 226);
        color: white;
        position: relative;
        top: 130px;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
    }
    .project-container2{
        width: 70%;
        min-height: 300px;
        margin: 20px;
        padding: 20px;
        border: 10px solid white;
        border-radius: 10%;
        box-shadow: 0 0 10px rgb(27, 234, 226);
        color: white;
        position: relative;
        top: 130px;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
    }
    .project-container3 {
        width: 70%;
        min-height: 300px;
        margin: 20px;
        padding: 20px;
        border: 10px solid white;
        border-radius: 10%;
        box-shadow: 0 0 10px rgb(27, 234, 226);
        color: white;
        position: relative;
        top: 130px;
        filter: drop-shadow(0 0 10px rgb(27, 234, 226));
    }

    .project-container1 > img,
    .project-container2 > img,
    .project-container3 > img {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        visibility: hidden;
    }

    .project-container1 > .btn1,
    .project-container2 > .btn1,
    .project-container3 > .btn1 {
        background: black;
        border: 2px solid green;
        color: green;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        text-align: center;
        align-self: center;
        position: relative;
        left: 50px;
    }

    .project-container1 > .btn1:hover,
    .project-container2 > .btn1:hover,
    .project-container3 > .btn1:hover {
        background-color: #05832b;
        color: white;
    }
}